.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 5px;

}

.cart-item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.cart li{
    padding: 5px;
    background-color: teal;
    margin-top: 10px;
}

